@import "tailwindcss";

@theme {
  --color-primary: #00f2ff;
  --color-secondary: #7000ff;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #050505;
  --foreground: #ffffff;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    background-image: 
      radial-gradient(circle at 50% 0%, #7000ff33 0%, transparent 50%),
      radial-gradient(circle at 100% 0%, #00f2ff22 0%, transparent 30%);
    min-height: 100vh;
  }
}
